<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.ele.ci.mybatis.mapper.MiPushSwitchModelMapper">
  <resultMap id="BaseResultMap" type="me.ele.ci.mybatis.model.MiPushSwitchModel">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="prd_bom_id" jdbcType="INTEGER" property="prdBomId" />
    <result column="prd_p_material_num" jdbcType="VARCHAR" property="prdPMaterialNum" />
    <result column="prd_p_material_desc" jdbcType="VARCHAR" property="prdPMaterialDesc" />
    <result column="prd_p_material_version" jdbcType="VARCHAR" property="prdPMaterialVersion" />
    <result column="prd_bom_use" jdbcType="VARCHAR" property="prdBomUse" />
    <result column="prd_select_bom" jdbcType="VARCHAR" property="prdSelectBom" />
    <result column="prd_material_line_num" jdbcType="VARCHAR" property="prdMaterialLineNum" />
    <result column="prd_material_num" jdbcType="VARCHAR" property="prdMaterialNum" />
    <result column="prd_material_desc" jdbcType="VARCHAR" property="prdMaterialDesc" />
    <result column="prd_material_count" jdbcType="VARCHAR" property="prdMaterialCount" />
    <result column="prd_material_unit" jdbcType="VARCHAR" property="prdMaterialUnit" />
    <result column="prd_material_replace_group" jdbcType="VARCHAR" property="prdMaterialReplaceGroup" />
    <result column="prd_material_percent" jdbcType="VARCHAR" property="prdMaterialPercent" />
    <result column="created_by" jdbcType="INTEGER" property="createdBy" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="last_updated_by" jdbcType="INTEGER" property="lastUpdatedBy" />
    <result column="last_updated_date" jdbcType="TIMESTAMP" property="lastUpdatedDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbggenerated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbggenerated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    prd_bom_id, prd_p_material_num, prd_p_material_desc, prd_p_material_version, prd_bom_use, 
    prd_select_bom, prd_material_line_num, prd_material_num, prd_material_desc, prd_material_count, 
    prd_material_unit, prd_material_replace_group, prd_material_percent, created_by, 
    created_date, last_updated_by, last_updated_date
  </sql>
  <select id="selectByExample" parameterType="me.ele.ci.mybatis.model.MiPushSwitchModelCriteria" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from prd_bom
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="me.ele.ci.mybatis.model.MiPushSwitchModelCriteria">
    <!--
      WARNING - @mbggenerated
    -->
    delete from prd_bom
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="me.ele.ci.mybatis.model.MiPushSwitchModelCriteria" resultType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
    -->
    select count(*) from prd_bom
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbggenerated
    -->
    update prd_bom
    <set>
      <if test="record.prdBomId != null">
        prd_bom_id = #{record.prdBomId,jdbcType=INTEGER},
      </if>
      <if test="record.prdPMaterialNum != null">
        prd_p_material_num = #{record.prdPMaterialNum,jdbcType=VARCHAR},
      </if>
      <if test="record.prdPMaterialDesc != null">
        prd_p_material_desc = #{record.prdPMaterialDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.prdPMaterialVersion != null">
        prd_p_material_version = #{record.prdPMaterialVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.prdBomUse != null">
        prd_bom_use = #{record.prdBomUse,jdbcType=VARCHAR},
      </if>
      <if test="record.prdSelectBom != null">
        prd_select_bom = #{record.prdSelectBom,jdbcType=VARCHAR},
      </if>
      <if test="record.prdMaterialLineNum != null">
        prd_material_line_num = #{record.prdMaterialLineNum,jdbcType=VARCHAR},
      </if>
      <if test="record.prdMaterialNum != null">
        prd_material_num = #{record.prdMaterialNum,jdbcType=VARCHAR},
      </if>
      <if test="record.prdMaterialDesc != null">
        prd_material_desc = #{record.prdMaterialDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.prdMaterialCount != null">
        prd_material_count = #{record.prdMaterialCount,jdbcType=VARCHAR},
      </if>
      <if test="record.prdMaterialUnit != null">
        prd_material_unit = #{record.prdMaterialUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.prdMaterialReplaceGroup != null">
        prd_material_replace_group = #{record.prdMaterialReplaceGroup,jdbcType=VARCHAR},
      </if>
      <if test="record.prdMaterialPercent != null">
        prd_material_percent = #{record.prdMaterialPercent,jdbcType=VARCHAR},
      </if>
      <if test="record.createdBy != null">
        created_by = #{record.createdBy,jdbcType=INTEGER},
      </if>
      <if test="record.createdDate != null">
        created_date = #{record.createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdatedBy != null">
        last_updated_by = #{record.lastUpdatedBy,jdbcType=INTEGER},
      </if>
      <if test="record.lastUpdatedDate != null">
        last_updated_date = #{record.lastUpdatedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbggenerated
    -->
    update prd_bom
    set prd_bom_id = #{record.prdBomId,jdbcType=INTEGER},
      prd_p_material_num = #{record.prdPMaterialNum,jdbcType=VARCHAR},
      prd_p_material_desc = #{record.prdPMaterialDesc,jdbcType=VARCHAR},
      prd_p_material_version = #{record.prdPMaterialVersion,jdbcType=VARCHAR},
      prd_bom_use = #{record.prdBomUse,jdbcType=VARCHAR},
      prd_select_bom = #{record.prdSelectBom,jdbcType=VARCHAR},
      prd_material_line_num = #{record.prdMaterialLineNum,jdbcType=VARCHAR},
      prd_material_num = #{record.prdMaterialNum,jdbcType=VARCHAR},
      prd_material_desc = #{record.prdMaterialDesc,jdbcType=VARCHAR},
      prd_material_count = #{record.prdMaterialCount,jdbcType=VARCHAR},
      prd_material_unit = #{record.prdMaterialUnit,jdbcType=VARCHAR},
      prd_material_replace_group = #{record.prdMaterialReplaceGroup,jdbcType=VARCHAR},
      prd_material_percent = #{record.prdMaterialPercent,jdbcType=VARCHAR},
      created_by = #{record.createdBy,jdbcType=INTEGER},
      created_date = #{record.createdDate,jdbcType=TIMESTAMP},
      last_updated_by = #{record.lastUpdatedBy,jdbcType=INTEGER},
      last_updated_date = #{record.lastUpdatedDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>